
.todo {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.todo__value {
	background: transparent;
	border: none;
	outline: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	font-weight: bold;
	flex-grow: 1;
}

.todo:has(.todo__checkbox:checked) {
	color: #ecec3e;
	background: #5e5b5b;
	text-decoration: line-through;
	order: 1;
}